*{
   margin: 0px;
   box-sizing: border-box;
}

body{
   background-color: #131517;
   overflow: hidden;
   font-family: "Roboto", sans-serif;
   font-size: 16px;
   color: white;
   padding: 0px 10%;
   height: 100vh;
}

.hide{
   display: none;
}

#blob{
   z-index: -1;
   height: 80px;
   aspect-ratio: 1;
   position: absolute;
   left: 50%;
   top: 50%;
   translate: -50% -50%;
   border-radius: 50%;
   background: linear-gradient(to right, #546DFF, #7bb0ff);
   animation: rotate 15s infinite; 
   opacity: 0;
   filter: blur(20px);
   transition: opacity 0.5s ease;
}

@keyframes rotate{
   from {
      rotate: 0deg;
   }
   50%{
      scale: 1 1.2;
   }
   to{
      rotate: 360deg;
   }
}




.nav-bar{
   display: flex;
   align-items: center;
   height: 120px;
   width: 100%;
}

.nav-bar-logo{
   display: flex;
   flex-direction: row;
   align-items: center;
}

.nav-bar img {
   height: 80px;
   width: 80px;
   margin-right: 2px;
   -webkit-user-drag: none;
   user-select: none;

}

.nav-bar-logo p{
   font-size: 24px;
   font-weight: 500;
   margin: 0px;
}

.nav-bar button{
   display: flex;
   align-items: center;
   height: 40px;
   padding: 10px 0px;
   background-color: rgba(255, 255, 255, 0.219);
   border: 1px solid rgba(255, 255, 255, 0.445);
   border-radius: 10px;
   color: white;
   cursor: pointer;
   margin-left: auto;
}

.nav-bar a{
   line-height: 40px;
   width: 95px;
   color: white;
   text-decoration: none;
}

.main{
   display: flex;
   padding: 28px;
   flex-direction: column;
   height: 100%;
}

.hero-text{
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   justify-content: center;
   height: 70%;
   width: 50%;
}

.hero-text h1{
   font-size: 40px;
}

.hero-text p{
   margin-top: 10px;
   color: rgba(255, 255, 255, 0.384);
}

.hero-text button {
   display: flex;
   align-items: center;
   height: 40px;
   padding: 10px 0px;
   background-color: rgba(255, 255, 255, 0.219);
   border: 1px solid rgba(255, 255, 255, 0.445);
   border-radius: 10px;
   color: white;
   cursor: pointer;
   margin-top: 24px;
}

.hero-text a {
   line-height: 40px;
   width: 95px;
   color: white;
   text-decoration: none;
}

pre {
   position: relative;
   transform: perspective(5000px) rotateY(var(--rotateX)) rotateX(var(--rotateY));
}




/* shadow */
/*
pre::before {
   inset: 0.75rem;
   border-radius: inherit;
   background: black;
   z-index: -1;
   transform: translateZ(-50px);
   filter: blur(15px);
   opacity: 0.5;
}
*/

.hero-image{
   display: flex;
   align-items: center;
   justify-content: center;
   position: relative;
   transform: perspective(5000px) rotateY(var(--rotateX)) rotateX(var(--rotateY));
}

.hero-image-card{
   width: 300px;
   height: 360px;
   border: 1px solid rgba(128, 128, 128, 0.473);
   border-radius: 10px; 
   background-color: rgba(255, 255, 255, 0.048);
   padding: 20px;
}


.hero-image-card label {
   display: flex;
   align-items: center;
   color: white;
   background-color: transparent;
   padding: 5px 8px;
   border-radius: 10px;
   transition: background-color 0.2s ease;
}

.hero-image-card label:hover{
   background-color: rgba(255, 255, 255, 0.06);
}



.hero-image-card > label > p{
   font-size: 16px;
}

.checkmark {
   visibility: hidden;
   position: absolute;
   transform: scale(0);
}

.checkbox {
   display: grid;
   place-items: center;
   width: 28px;
   height: 24px;
   margin-right: 14px;
   border-radius: 8px;
   /*background-color: #1a1c1e8c;*/
   border: 2px solid #272A30;
   cursor: pointer;
}

.checkbox:hover {
   background-color: #22252b;
}

.checkbox i {
   display: none;
   color: rgba(255, 255, 255, 0.8);
   font-size: 16px;
   height: 16.5px;
}



.checkmark:checked~.checkbox {
   background-color: #272A30;
}



.checkmark:checked~.checkbox i {
   display: block;
}

.group-tasks-dropdown{
   margin-top: 10px;
   margin-bottom: 5px;
   padding: 7px 8px;
   transition: background-color 0.2s ease;
   border-radius: 10px;
}

.group-tasks-dropdown:hover {
   background-color: rgba(255, 255, 255, 0.06);
}

.group-tasks-dropdown-arrow{
   margin-left: 5px;
   cursor: pointer;
   margin-right: 14px;
}

.arrow-down{
   transform: rotate(90deg);
}

.group-tasks-container{
   display: none;
   margin-left:20px;
   padding: 0;
   border-left: 2px solid #272A30;
}

.group-tasks-container label{
   margin-left: 10px;
}

#cards{
   display: flex;
   flex-wrap: wrap;
   gap: 8px;
   max-width: 916px;
   width: calc(100% - 20px);
}


#cards:hover > .card > .card-border{
   opacity: 1;
}

.card{
   position: relative;
   background-color: rgba(255, 255, 255, 0.1);
   height: 260px;
   width: 300px;
   border-radius: 10px; 
   cursor: pointer;
}

.card::before{
   position: absolute;
   top: 0px;
   left: 0px;
   border-radius: inherit;
   content: "";
   height: 100%;
   width: 100%;
   z-index: 0;
   background: radial-gradient(800px circle at var(--mouse-x) var(--mouse-y), rgba(255, 255, 255, 0.06), transparent 40%);
   opacity: 0;
   transition: opacity 0.5s;
}

.card:hover::before{
   opacity: 1;
}

.card::before, .card > .card-border {
   position: absolute;
   top: 0px;
   left: 0px;
   border-radius: inherit;
   content: "";
   height: 100%;
   width: 100%;
   z-index: 0;
   opacity: 0;
   transition: opacity 0.5s;
}

.card::before{
   z-index: 3;
   background: radial-gradient(800px circle at var(--mouse-x) var(--mouse-y), rgba(255, 255, 255, 0.06), transparent 40%);
}

.card > .card-border{
   z-index: 1;
   background: radial-gradient(400px circle at var(--mouse-x) var(--mouse-y), rgba(255, 255, 255, 0.09), transparent 40%);
}

.card > .card-content{
   position: relative;
   z-index: 2;
   background-color: rgb(23, 23, 23);
   border-radius: inherit;
   margin: 1px;
   height: calc(100% - 2px);
   width: calc(100% - 2px);
}


