*{
   margin: 0px;
   box-sizing: border-box;
}

body{
   background-color: #131517;
   overflow: hidden;
   font-family: "Roboto", sans-serif;
   font-size: 16px;
   color: white;
   padding: 0px 10%;
   height: 100vh;
}

#blob{
   z-index: -1;
   height: 80px;
   aspect-ratio: 1;
   position: absolute;
   left: 50%;
   top: 50%;
   translate: -50% -50%;
   border-radius: 50%;
   background: linear-gradient(to right, aquamarine, mediumpurple);
   animation: rotate 20s infinite; 
   filter: blur(40px);
}

@keyframes rotate{
   from {
      rotate: 0deg;
   }
   to{
      rotate: 360deg;
   }
}




.nav-bar{
   display: flex;
   align-items: center;
   height: 120px;
   width: 100%;
}

.nav-bar-logo{
   display: flex;
   flex-direction: row;
   align-items: center;
}

.nav-bar img {
   height: 80px;
   width: 80px;
   margin-right: 2px;
   -webkit-user-drag: none;
   user-select: none;

}

.nav-bar-logo p{
   font-size: 24px;
   font-weight: 500;
   margin: 0px;
}

.nav-bar button{
   display: flex;
   align-items: center;
   height: 40px;
   padding: 10px 0px;
   background-color: #272A30;
   border: 0px;
   border-radius: 10px;
   color: white;
   cursor: pointer;
   margin-left: auto;
}

.nav-bar a{
   line-height: 40px;
   width: 95px;
   color: white;
   text-decoration: none;
}

.main{
   display: flex;
   padding: 28px;
   flex-direction: row;
   height: 100%;
}

.hero-text{
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   justify-content: center;
   height: 50%;
   width: 50%;
}

.hero-text h1{
   font-size: 40px;
}

.hero-text p{
   margin-top: 10px;
   color: rgba(255, 255, 255, 0.384);
}

.hero-text button {
   display: flex;
   align-items: center;
   height: 40px;
   padding: 10px 0px;
   background-color: #272A30;
   border: 0px;
   border-radius: 10px;
   color: white;
   cursor: pointer;
   margin-top: 24px;
}

.hero-text a {
   line-height: 40px;
   width: 95px;
   color: white;
   text-decoration: none;
}

.hero-image{
   display: flex;
   align-items: center;
   justify-content: center;
   height: 50%;
   width: 50%;
}

.hero-image img{
   height: 80%;
}